@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(99, 201, 102);
    background: black;
	text-align: center;
	font-size: 16pt;
  }

  .box h2 {
	display: flex;
	align-items: center;
	gap: 2px;
  }


  .box h2::after {
	content: "";
	width: 5px;
	height: 20px;
	background: #63C966;
	display: inline-block;
	animation: cursor-blink 1.5s steps(2) infinite;
  }

  @keyframes cursor-blink {
	0% {
	  opacity: 0;
	}
  }
}
